.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: background-color .25s ease;
	z-index: 1000;
}

.navdiv {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
	padding: 0 1.5rem;
	background-color: #1f1f1f;
}

.nav {
	width: 100%;
	height: 5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid rgba(255, 255, 255, .025);
	transition: height .5s ease;
}

.nav a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}

.nav .logo {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	font-size: 2rem;
	font-weight: bold;
	margin-left: 1em;
}

.navul {
	list-style: none;
	display: flex;
	margin-right: auto;
	margin-left: 4rem;
}

.navlink {
	margin: 0 2rem;
	position: relative;
}

.navlink::after {
	content: '';
	width: 100%;
	height: 2px;
	background-color: rgb(206, 205, 205);
	position: absolute;
	left: 0;
	bottom: -3px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .5s ease;
}

.navlink:hover::after {
	transform: scaleX(1);
}

.login {
	display: inline-block;
	background-color: #146400;
	color: #fff;
	margin-right: 1.5em;
	padding: .4em .6em;
	border-radius: 1em;
	transition: background-color .5s ease;
}

.login:hover {
	background-color: #538d1a;
}

/*Apply styles after scroll*/
.scrollingActive {
	background-color: #1f1f1f;
	box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.scrollingActive .nav {
	height: 4rem;
}

.scrollingActive .nav a {
	color: #d3d3d3;
}

.scrollingActive .login {
	background-color: #538d1a;
	color: #fff;
}

.scrollingActive .login:hover {
	background-color: whitesmoke;
	color: black;
}

.scrollingActive .navlink::after {
	background-color: whitesmoke;
}
